/* 기본설정 */
@charset "utf-8";

@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: url(../img/cosmos-1853491_1920.jpg) center/cover ;
}

div#wrap {
  width: 100%;
  height: 100%;
}
/* 헤더 */
div#wrap header {
  width: 1300px;
  height: 350px;
  margin: 0 auto;
}

div#wrap header h1 {
  font-size: 60px;
  font-family: 'PyeongChangPeace-Light';
  color: #fff;
  opacity: .7;

}

div#wrap header nav::after {
  content: "";
  display: block;
  width: 290px;
  height: 3px;
  background-color: #7752F3;
  position: absolute;
  top: 100px;
  right: 210px;
}

div#wrap header>img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 75px;
  right: 530px;
  rotate: 45deg;
}

div#wrap header nav ul.circle li {
  cursor: pointer;
  z-index: 10;
}

header nav ul.circle li a {
  width: 100%;
  height: 100%;
  display: block;
}

div#wrap header nav ul.circle li:nth-child(1) {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #0DADD2;
  position: absolute;
  top: 94px;
  right: 440px;
}

div#wrap header nav ul.circle li:nth-child(1):hover {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 92px;
  right: 438px;
  z-index: 15;
  content: "Home";
}
div#wrap header nav ul.circle li:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #2CA4E7;
  position: absolute;
  top: 94px;
  right: 380px;
}

div#wrap header nav ul.circle li:nth-child(2):hover {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #2CA4E7;
  position: absolute;
  top: 92px;
  right: 378px;
}

div#wrap header nav ul.circle li:nth-child(3){
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #2CA4E7;
  position: absolute;
  top: 92px;
  right: 318px;
}

div#wrap header nav ul.circle li:nth-child(4) {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #5A6BEA;
  position: absolute;
  top: 94px;
  right: 260px;

}

div#wrap header nav ul.circle li:nth-child(4):hover {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 92px;
  right: 258px;
}

/* 메뉴(이미지) */
div#wrap header nav ul.menu_img li img {
  width: 30px;
  height: 30px;
}

div#wrap header nav ul.menu_img li img:hover {
  width: 40px;
  height: 40px;
}

div#wrap header nav ul.menu_img li:nth-child(1) {
  position: absolute;
  top: 40px;
  right: 432px;
}

div#wrap header nav ul.menu_img li:nth-child(2) {
  position: absolute;
  top: 38px;
  right: 374px;
}

div#wrap header nav ul.menu_img li.port img{
  position: absolute;
  top: 35px;
  right: 308px;
  width: 40px;
  height: 40px;
}

div#wrap header nav ul.menu_img li:nth-child(4) {
  position: absolute;
  top: 40px;
  right: 252px;
}

div#wrap header nav ul.menu_img li:nth-child(5) {
  position: absolute;
  top: 40px;
  right: 222px;
}
/* 콘텐츠 */
section {
  width: 1300px;
  margin: 0 auto;
}

section article.content dl {
  position: relative;
  margin-top: -200px;
}

section article.content dl dt {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(15, 189, 216, .7);
  color: #fff;
  float: left;
  font-family: 'Raleway';
  cursor: pointer;
  outline: 1px solid black;
}

section article.content dl dt.on {
  background-color: rgba(226, 155, 211, 0.7);
  font-weight: bold;
}


section article.content dl dd {
  width: 1300px;
  height: 520px;
  background: radial-gradient(ellipse at bottom, rgba(27, 39, 53,.8) 0%, rgba(9, 10, 15,.8) 100%) ;
  margin-left: 0;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
  color: #fff;
}

section article.content dl dd.hidden {
  display: none;
}
div.content h2 {
  font-family: 'Raleway';
  color: #fff;
  margin-left: 90px;
  margin-top: 40px;
}
div.swiper-container1 div.content div.screen {
  width: calc(1920px/3.2);
  height: calc(1080px/3.2);
  margin-left: 90px;
  margin-top: 40px;
  overflow: auto;
}
div.swiper-container1 div.content div.screen img{
  width: 100%;
  object-fit: cover;
  object-fit:contain;
}
div.content div.cont_box {
  width: 430px;
  height: 420px;
  margin-top: -400px;
  margin-left: 720px;
  
}
div.content div.cont_box h3 {
  padding: 30px;
  font-family: 'Noto Sans KR';
  font-size: 16px;
}
div.content div.cont_box p {
  font-family: 'Noto Sans KR';
  margin-top: -30px;
  margin-left: 30px;
  width: 430px; 
  height: 100px;
  line-height: 2;
  font-size: 16px;
  
}
div.content div.cont_box div>a{
  width: 120px;
  height: 40px;
  background-color: rgb(0, 0, 0,.5);
  border: 1px solid #fff;
  line-height: 40px;
  text-align: center;
  font-family: 'Noto Sans KR';
  margin-top: 200px;
  margin-left: 180px;
  float: left; 
  border-radius: 20px;
  font-size: 14px;
}
div.content div.cont_box div:hover {
  font-weight: bold;
  color: #7752F3;
  background-color: rgb(255, 255, 255, .3);
}

div.swiper-container2 div.content div.screen {
  width: calc(1920px/3.2);
  height: calc(1080px/3.2);
  margin-left: 100px;
  margin-top: 40px;
  overflow: hidden;
}
div.swiper-container2 div.content div.screen img{
  width: calc(1920px/3.2);
  height: calc(1080px/3.2);
  object-fit: cover;
  object-fit:contain;
}
div.swiper-container2 div.cont_box h3{
  font-size: 18px;
}
div.swiper-container2 div.cont_box p{
  font-size: 16px;
}

div.swiper-container3 div.content div.screen {
  width: calc(1920px/3.2);
  height: calc(1080px/3.2);
  margin-left: 100px;
  margin-top: 40px;
  overflow: hidden;
}
div.swiper-container3 div.content div.screen img{
  width: calc(1920px/3.2);
  height: calc(1080px/3.2);
  /* object-fit: cover;
  object-fit:contain; */
}

dd.hidden div.content div.cont_box div:hover {
  font-weight: bold;
  color: #7752F3;
  background-color: rgb(255, 255, 255, .3);
}


/* 스와이퍼 */
div.swiper-container1 div.swiper-slide a {
  display: block;
  width: 300px;
  height: 600px;
  line-height: 600px;
}

div.swiper-container2 div.swiper-slide a {
  display: block;
  width: 300px;
  height: 600px;
  line-height: 600px;
}

div.swiper-container3 div.swiper-slide a {
  display: block;
  width: 300px;
  height: 600px;
  line-height: 600px;
}

div.swiper-button-next,
div.swiper-button-prev {
  top: 260px;
}

footer{
  text-align: center;
  color: #fff;
  font-size: 10px;
  position: absolute; bottom: 0; left: 45%;
  width: 300px; height: 30px;
  
}

